<NetcodeHubToast @ref="m_Toast" Position="@ToastPosition.Top()" Persist="true" IconClass="bi bi-check" Duration="4000"  />

<div>
	<h5 class="mb-3 text-primary align-items-center text-center">Report Details</h5>
	@if (CurrentReport != null)
	{
		<div class="container card-body">
			<div class="row">
				<div class="col card p-4 shadow-sm">
					<div class="mb-2">
						<strong>Address:</strong> @CurrentReport.Address
					</div>
					<div class="mb-2">
						<strong>Category:</strong> @CurrentReport.Category
					</div>
					<div class="mb-2">
						<strong>Submitted Date:</strong> @CurrentReport.SubmissionDate.Date.ToShortDateString()
					</div>
					<div class="mb-3 d-flex align-items-center">
						<label class="form-label me-2"><strong>Status:</strong></label>
						<InputSelect @bind-Value="@Status" class="form-select w-auto">
							<option value="Pending">Pending</option>
							<option value="Processing">Processing</option>
							<option value="Resolved">Resolved</option>
						</InputSelect>
					</div>

					@if(IsManager)
					{
						<div class="mb-3 d-flex align-items-center">
							<label class="form-label me-2"><strong>Handler:</strong></label>
							<AttachHandlerComponent SelectedReport="@CurrentReport" />
						</div>
					}

					<div class="mb-3">
						<label class="form-label"><strong>Description</strong></label>
						<InputTextArea @bind-Value="DescriptionText" dir="rtl"
									   class="form-control"
									   style="resize: block; min-height: 300px; max-height: 300px;" />
					</div>
					
					<button class="btn btn-primary w-100" @onclick="updateReport">
						<i class="bi bi-save me-2"></i> Update Report
					</button>
					
				</div>
				<div class="col text-center">
					@if (!string.IsNullOrEmpty(CurrentReport.PhotoUrl))
					{
						<img src="@CurrentReport.PhotoUrl" class="img-fluid rounded shadow"
							 style="max-width: 100%; max-height: 600px; object-fit: cover;" />
					}
					else
					{
						<div class="text-muted">No image available</div>
					}
				</div>
			</div>
		</div>
	}
	else
	{
		<p class="text-center">No Report has been selected</p>
	}

	@if (!string.IsNullOrEmpty(m_ErrorMessage))
	{
		<p class="text-danger">@m_ErrorMessage</p>
	}

</div>

@code {
	[Parameter]
	public bool IsManager { get; set; } = false;

	[Parameter]
	public Report CurrentReport { get; set; }

	public string DescriptionText { get; set; } = string.Empty;
	public string Status { get; set; } = "Open";
	private string m_ErrorMessage = string.Empty;
	private NetcodeHubToast m_Toast;
	
	private async void updateReport()
	{
		CurrentReport.Description = DescriptionText;
		CurrentReport.Status = Status;
		bool isUpdateSuccessfull = await FireStoreDB.Instance.UpdateReportAsync(CurrentReport);

		if (!isUpdateSuccessfull)
		{
			m_ErrorMessage = "There was an error updating report!.";
		}
		else
		{
			await m_Toast.ShowSuccessToast("Report Update","Report Updated Successfully");
		}
	}
}